<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.rgs.capstone">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity android:name=".login.Signup"></activity>
        <activity
            android:name=".login.login"
            android:label="Login">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Feedback" />

        <receiver android:name=".widget.Capstone_widget">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/capstone_widget_info" />
        </receiver>

        <activity
            android:name=".Myinfo"
            android:label="@string/title_activity_myinfo"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Displaydetails"
            android:label="@string/title_activity_displaydetails"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Details_choice"
            android:label="@string/title_activity_details_choice"
            android:theme="@style/AppTheme.NoActionBar"></activity>

        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-4057093668636373~4384131903" />
    </application>

</manifest>